.rouge{
    color:red;
 
}
.bleu{
    color: blue;
}

.fromage{
    color: teal;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Ubuntu';
    font-size:1.4em;
    border: 3px black solid;
    border-radius: 10%;
}
.patricia{
    height: 200px;
    width: 200px;
    background-color: teal;
    border: red solid 3px;
    border-radius: 50%;
}
.patrick{
    height: 200px;
    width: 200px;
    background-image: url("patrick.png");
    background-position: center;
    background-size: cover;
    border : teal 3px solid;
    border-radius: 50%;

}
